<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74998177914-22m2masjpk2g03q3g6haj8jge8ktn5pj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74998177914-22m2masjpk2g03q3g6haj8jge8ktn5pj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>74998177914-2h7cit70h7o5ou69tq40kf4pe5j5ftru.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmsbxK8CxP0guTH1Yt9oOIpU46lgMhtLY</string>
	<key>GCM_SENDER_ID</key>
	<string>74998177914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jsolutions.flutterLoginTest</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-cb915</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-cb915.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74998177914:ios:49ad419ee9a5943de41bc3</string>
</dict>
</plist>